.login-card
    display: flex;
    padding: 0px !important;
    height: 350px;
    width: 350px;
    mat-card-content
        width: 100%;
    @media (max-width: 900px)
        height: 100%;
        width: 100%;
